*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.f-l{
  float: left;
}
.container{
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin: 0 200px;
  padding: 10px;
}
main{
  margin: 10px 0;
}
.clearfix:after{
  display: table;
  content: "";
  clear: both;
}
header{
  background-color: lightgreen;
  height: 400px;
}
.c-sx{
  background-color: pink;
  height: 300px;
  width: 20%;
}
.c-c{
  background-color: coral;
  height: 280px;
  width: calc(60% - 40px);
  margin: 0 20px;
}
.c-dx{
  background-color: yellow;
  height: 700px;
  width: 20%;
}
.lb{
  margin-bottom: 20px;
  width: 100%;
  height: 220px;
  background-color: red;
}
footer{
  background-color: lightgreen;
  height: 100px;
  width: 100%;
}
